@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=ap');

:root{
    --Tusk:#5DFDFE;
    --main:black;
    --meet:#FFE9E2;
}

body{
    background:var(--Tusk);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* text-transform: uppercase; */
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{
    padding: 3rem 2%;
}

.nav-btn {
    background: #5DFDFE;
    color: black;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
}

.nav-btn:hover {
    color: white;
    box-shadow: 0px 0px 100px gold;
}

.mint-button {
    background: #5DFDFE;
    color: black;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
}

.mint-button:hover {
    color: white;
    box-shadow: 0px 0px 100px gold;
}

.nav--logo {
    width: 175px;
}

.title{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom:3rem;
    padding:1.2rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.7);
    color: var(--main);
}

.title span{
    color: var(--main);
    padding-left: .7rem;
}

.title a{
    margin-left: auto;
    color: var(--main);
    font-size: 1.5rem;
}

.title a:hover{
    color: #fff;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.8rem 3rem;
    background-color:var(--main);
    color:var(--Tusk);
    font-size: 1.7rem;
    cursor:pointer;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
    margin-right: 10px;
}

.btn:hover{
    background: var(--Tusk);
    color: var(--main);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    background: var(--main);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
}

.header .logo{
    font-size: 2.4rem;
    font-weight: bolder;
    color: var(--Tusk);
    text-decoration: none;

}

.header .logo i{
    color: var(--Tusk);
    padding-right: .5rem;
}


.header .navbar a{
    font-size:1.7rem;
    color: var(--Tusk);
    margin: 0 1rem;
    font-weight: bold;
    text-decoration: none;
}

.header .navbar a:hover{
    color: #fff;
}

.header .icons a{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color:var(--Tusk);
    text-decoration: none;

}

.header .icons a:hover{
    color: #fff;
}

#menu-btn{
    display: none;
}

@keyframes fadeLeft{
    0%{
        opacity: 0;
        transform:translateY(-5rem);
    }
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
}

.home{
    background-color:var(--Tusk);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 50px;
}


.home .slides-container .slide .content h3{
    color: var(--main);
    font-size: 2rem; 
    align-items: center;
}

.home .slides-container .slide .img{
    flex: 1 1 40rem;
    margin: 3rem;
}

.home .slides-container .slide .img img{
    width: 75%;
    height:490px;
    margin: 0 auto;
}

.home-container {
    display: flex;
    padding-right: 0;
}

.home-content {
    margin: auto 100px;
    width: 40%;
}

.home-content h3 {
    font-size: 30px;;
}

.homeImg {
    width: 60%;
    border-radius: 25px;
}


.mint-amount {
    width: 80px;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    margin-right: 10px;
}

.banner-container .banner{
    flex: 1 1 35rem;
    height:65rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    border: 0.1rem solid rgba(0,0,0,0.7);
}

.banner-container .banner img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.banner-container .banner .mint-content{
    position: absolute;
    top: 450px;
    left: 50px;
    transform:translateY(-50%);
    
}

.banner-container .banner .mint-content h3{
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
    text-shadow:-3px 0px 1px white;
}

.banner-container .banner:hover img{
    transform:scale(1.2) rotate(-5deg);
}


/* RARITY SECTION */
#rarities {
    width: 80%;
    margin: 0 auto;
}

.story .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.story .box-container .box{
    position:relative;
    background-color:var(--main);
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    border: 0.1rem solid rgba(0,0,0,0.7);
}

.story .box-container .box:hover .icons{
    top: 0;
    height:35rem;
}

.story .box-container .box .icons{
    position:absolute;
    top: -105%;
    left: 0;
    height:35rem;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--main);
    gap: 1rem;
}

.story .box-container .box .icons a{
    font-size: 2rem;
    height:5rem;
    width:5rem;
    line-height: 5rem;
    background: var(--Tusk);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    color:var(--main)
}

.story .box-container .box .icons a:hover{
    background: var(--Tusk);
    color:var(--main);
    height:17rem;
    
}

.story .box-container .box .img{
    height:27rem;
    width:27rem;
    overflow:hidden;
}

.story .box-container .box .img img{
    height:100%;
    width:100%;
    object-fit:cover;
}

.story .box-container .box .content{
    padding:1.5rem;
}

.story .box-container .box .content .price{
    font-size: 1.4rem;
    color: var(--Tusk); 
}

.story .box-container .box .content h3{
    font-size:2rem;
    color: var(--Tusk);
}

.story .box-container .box .content .stars i{
    font-size: 1.4rem;
    color: yellow;
}


.firepit{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.firepit .img{
    flex: 1 1 40rem;
}

.firepit .img img{
    width: 100%;
    height:55rem;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    border: 0.1rem solid rgba(0,0,0,0.7);
}

.firepit .content{
    flex: 1 1 40rem;
}

.firepit .content h3{
    color: var(--main);
    font-size: 4rem;
    font-weight: bold;
    padding-top: .5rem;
}

.firepit .content p{
    color: var(--main);
    font-size:2rem;
    padding:1rem 0;
}



.roadmap .slide{
    width: 50%;
    padding:2rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    border: 5px solid white;
    border-radius: 100px;
    position: relative;
    background:var(--main);
    margin-bottom: 10px;
    text-align: center;
}

.right-align {
    margin-left: auto;
}

.left-align {
    margin-right: auto;
}

.user-info h3 {
    margin-top: 10px;
}

.roadmap .slide .user img{
    height:30rem;
    width:30rem;
    object-fit: cover;
}

.roadmap .slide .user h3{
    color: var(--Tusk);
    font-size: 2rem;
    padding-bottom: 25px;
    margin-bottom: 0;
}

.roadmap .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:white;
    margin: 0 auto;
    width: 400px;
}


.team-container{
    display: flex;
    flex-direction: column;

}

.teamImg {
    width: 250px;
    height: 250px;
    border-radius:75px;
}

.team-img-container {
    display: flex;
    justify-content: center;
}

.calendar-icon {
    margin-right: 15px;
}

.team-box {
    margin: 20px 0;
}



.team-content {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.team-content .icons {
    margin-top: 10px;
}

.team-content h3 {
    font-size: 20px;
}

.team-content p {
    font-size: 15px;
}




.faq .icons-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
}

.faq .icons-container .icons{
    text-align:center;
    border: 0.1rem solid rgba(0,0,0,0.7);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    padding: 2rem;
    background:var(--main);
}

.faq .icons-container .icons i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    background: var(--Tusk);
    color:var(--main);
    border-radius:50%;
}

.faq .icons-container .icons h3{
    color: var(--Tusk);
    font-size: 2rem;
    padding:1rem 0;
}

.faq .icons-container .icons p{
    color: var(--Tusk);
    font-size: 1.5rem;
    line-height: 2;
}


#footer {
    margin:0;
}


.footer{
    background:var(--main);
}

.footer-box-container{
    display:flex;
    justify-content: space-around;
}

.footer .footer-box-container .box h3{
    font-size: 2.2rem;
    color: var(--Tusk);
    padding:1rem 0;
}

.footer .footer-box-container .box a{
    font-size: 1.4rem;
    color: var(--Tusk);
    padding: 1rem 0;
    display:block;
}

.footer .footer-box-container .box a:hover{
    color: #fff;
}

.footer .footer-box-container .box a i{
    padding-right:.5rem;
    color: var(--Tusk);
}




.credit{
    text-align: center;
    background:var(--main);
    color:#fff;
    font-size: 2rem;
}

.credit span{
    color:var(--Tusk);
}


/* media queries */

@media (max-width: 500px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .5rem;
    }

    .home-content a,
    .home-content h3,
    .home-img {
        display: none;
    }

    .home-container {
        display: flex;
        flex-direction: column;
    }

    .header .navbar {
        display: flex;
        flex-direction: column;
    }

    .icons {
        margin: 1.5rem 0;
    }

    #search-btn {
        margin: 0;
    }

    html{
        font-size: 50%;
    }

    #main--container {
        margin-top: 220px;
        overflow-x: hidden;
    }

    .roadmap .slide .user img {
        width: 10rem;
        height: 10rem;
    }

    .roadmap .slide p {
        width: 250px;
        font-size: 15px
    }

    .roadmap .slide .user .user-info h3 {
        font-size: 30px;
    }

    .roadmap .slide {
        width: 350px;
    }

    .home .slides-container .slide .img img {
        width: 100%;
        border-radius: 25px;
    }

    .story .box-container .box {
        width: 50%;
    }

    .story .box-container{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .team-content {
        width: 100%;
    }

}